*{
    margin: 0;
    padding: 0;
}

.card{
    width: 275px;
    min-width: 275px;
    height: 300px;
    padding: 5px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    transition: 0.3s;
    cursor: pointer;

}

.card:hover{
    scale: 1.1;
}

.container-image{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 20px;
    background-color: #52D960;
    padding-bottom: 5px;
    img{
        transition: 0.3s;
    }

}

.container-image:hover{
    img{
        transform: rotate(5deg);
        scale: 1.2;
    }
}

h2{
    margin: 0;
}

.container-image img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.container-text{
    width: calc(100% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    /* background-color: green; */
    margin: 0 10px;
}

.btn-div{
    width: 100%;
    transform: translateY(-40px);
}
.btn{
    background-color: #52D960;
    /* border: 2px solid rgb(66, 98, 242); */
    color: rgb(66, 98, 242);
    color: white;
    border: 1px solid #52D960;
    width: 35%;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    transition: 0.3s;
    color: white;
    transform: translateY(20px);

}
.btn:hover{
    scale: 1.1;
    box-shadow: 0px 3px 2px green;
}

.star {
    font-size: 1.5rem;
    color: #ffd700;
}

.notes{
    font-size: 1.5rem;
    margin-left: 10px;
}