body{
    background-color: rgba(0, 0, 0, 0.5);
    /* background-image: url("../src/assets/poulet.jpeg"); */
    background-repeat: no-repeat;
    background-size: cover;
}

#root{
    background-color: white;
}